body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;
    margin: 0px;
}

#Menu, #endMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#header {
    justify-content: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

button {
    font-family: monospace;
    font-size: 15px;
    margin: 20px;
    padding: 20px;
    border-radius: 10pt;
    background-color: rgb(235, 254, 93);
}

button:hover {
    font-weight: bold;
    background-color: rgb(253, 253, 253);
    cursor: pointer;
}

#quizSection, #quiz, #scoresPage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}